*.h5
*.vtk
*.png
*.gif
*.pyc
*.pdf
*.json


foo.pdf
foo2.pdf
foo3.pdf
foo5.pdf
res170.pdf
db/sims.json
db/test_simulate_fibb.json
db/test_simulate_small.json
db/test_simulate.json
db/test_simulate2.json
db/test_simulate3.json
db/test_simulate4.json
db/initial_results/DE_first_result_3.json
db/initial_results/DE_first_result_backup.json
db/initial_results/DE_first_result_substrate.json
db/initial_results/DE_first_result_substrate2.json
db/initial_results/DE_first_result_ypol.json
db/initial_results/DE_new_res_check.json
db/initial_results/DE_new_res_check2.json
db/initial_results/DE_new_res_check3.json
db/initial_results/DE_source_check_4pixel.json
db/initial_results/DE_source_check_freq2.json
db/initial_results/DE_source_check_freq23.json
db/initial_results/DE_source_check.json
db/initial_results/DE_test_sim.json
db/initial_results/DE_xpol_ff.json
db/sim_spec/DE_first_result_substrate.json
db/sim_spec/DE_first_result_substrate2.json
db/sim_spec/DE_first_result_ypol.json
db/sim_spec/DE_first_result_ypol2.json
db/sim_spec/DE_first_result.json
db/sim_spec/DE_first_result2.json
db/sim_spec/DE_new_res_check.json
db/sim_spec/DE_new_res_check2.json
db/sim_spec/DE_new_res_check4.json
db/sim_spec/DE_source_check_4pixel.json
db/sim_spec/DE_source_check_freq2.json
db/sim_spec/DE_source_check_freq23.json
db/sim_spec/DE_source_check.json
db/sim_spec/DE_test_sim.json
db/sim_spec/DE_xpol_big.json
db/sim_spec/DE_xpol_ff.json
db/sim_spec/DE_xpol_small.json
db/sim_spec/DE_xpol_substrate.json
db/sim_spec/DE_xpol.json
db/sim_spec/DE_ypol.json
db/sim_spec/out.json
db/tmp/tmp.json
plots/Absorption.pdf
plots/Purcell.pdf
